.LoginForm{

    display: flex;
    flex-direction: column;

}

.LoginForm input{
    margin: 1rem;
    outline: none;
    border: none;
    height: 2rem;
    padding: 1rem;

}

.LoginForm input[type="submit"] {
    letter-spacing: 0.5rem;
    font-size: 1rem;
    line-height: 0.3rem;
    color: #ccc;
    background: #111111;
}

button{
    margin: 1rem;
    outline: none;
    border: none;
    height: 2rem;
    padding: 1rem;

    letter-spacing: 0.5rem;
    font-size: 1rem;
    line-height: 0.3rem;
    color: #ccc;
    background: #111111;
}